In [ ]:
"""
Author: Shahzeb Afroze
This is a script where I am just experimenting concerning how to interact with the database using python
"""

In [29]:
import pandas as pd
import sqlite3

In [39]:
def doQuery( conn ) :
    cur = conn.cursor()

    cur.execute( "SELECT title FROM entry" )

    for firstname in cur.fetchall() :
        print(firstname)

In [44]:
db_file = "app/app.db"
myConnection = sqlite3.connect(db_file)
# doQuery( myConnection )
# myConnection.close()

In [46]:
pd.read_sql("SELECT * FROM entry", myConnection)

   id     title description
0   1  hey thre    whats up